@using FashionDemo.Models
@model IEnumerable<MasterProduct>

<script type="text/javascript">
    $(function () {
        $('#loadingElement').ajaxStart(function () {
            $('#products-list').css('opacity', 0.5);
        }).ajaxComplete(function () {
            $('#products-list').css('opacity', 1.0);
        });

        $('#addMasterProductBtn').click(function () {
            $('#addMasterProductTrigger').click();
        });

        $('select').selectbox({
            effect: 'slide'
        });

        $('#price').blur(function () {
            var cost = parseFloat($('#price').val());
            var markUp = parseFloat($('#markUp').val());
            var currency = $('#currency').val();
            if (cost && markUp && currency) {
                $('#sellPrice').val(cost + cost * (markUp / 100) + ' ' + currency);
            }
            else {
                $('#sellPrice').val('');
            }
        });

        $('#addMasterProduct').click(function () {
            $('#results tr').removeClass('tr-selected');
            toggleCreateArea();

        });

        $('#cancelMasterProductBtn').click(function() {
            toggleCreateArea();
        });

        $('#editMasterBtn').click(function () {
            if ($('div.edit-child').is(':visible')) {
                $(this).html('Cancel edit');
            }
            else {
                $(this).html('Edit master');
            }

            toggleEditArea();
        });

        //binding rows selection
        $('.table-container tr').live('click', function () {

            if ($('#create').is(':visible')) {
                toggleCreateArea();
            }

            var id = $(this).find('td:first-of-type').attr('id');
            $('#hdnChildId').val(id);
            $('#masterIdDel').val($(this).find('td:first-of-type').text());
            $('#labelName').html($(this).find('td.name').html());
            $('#labelCode').html($(this).find('td:first-of-type').text());
            selectProduct(id);
            fillEditFields(id);
        });

        //deleting child
        $('.edit-child #delBtn').click(function () {
            if (checkSelected()) {
                deleteProduct();
            }
        });

        //saving child product changes
        $('.edit-child #saveBtn').click(function () {
            if (checkSelected()) {
                saveChildChanges();
            }
        });

        //saving master product changes
        $('#saveMasterChanges').click(function () {
            if (checkSelected()) {
                $('#submitSaveMaster').click();
            }
        });

        //delete master product
        $('#delMasterBtn').click(function () {
            if (checkSelected()) {
                $('#delMasterTrigger').click();
            }
        });

    });

    function checkSelected() {
        if ($('tr.tr-selected').length > 0) {
            return true;
        }
        else {
            alert('Please choose any product first');
        }
        return false;
    }

    function saveChildChanges() {
        var prodId = $(this).find('td:first-of-type').attr('id');
        $('#submitSaveChild').click();

    }
    
    function deleteProduct() {
        var $trToDelete = $('tr.tr-selected');
        var id = $trToDelete.find('td:first-of-type').attr('id');
        $.getJSON("/Home/DeleteProduct?id=" + id, function () {
            clearEditArea();
            $trToDelete.fadeOut(200);
        });
    }
    
    function fillEditFields(id) {
        $.getJSON("/Home/GetProductById?id=" + id, function (data) {
            $('#txtEditPrice').val(data.SellPrice);
            $('#txtEditQuantity').val(data.Quantity);
            $('#editLabelDiv a.sbSelector').html(data.Label);
            $('#editTypeDiv a.sbSelector').html(data.Type);
            $('.edit-master #name').val(data.Name);
        });
    }
    function selectProduct(productId) {
        $('tr.tr-selected').removeClass('tr-selected');
        $('td[id="' + productId + '"]').parent('tr').addClass('tr-selected');
    }
    
    var $child, $master;


    function toggleCreateArea() {
        var $createArea = $('#create');
        if ($createArea.is(':visible')) {

            $createArea.slideUp(300,function () {
                $('#edit').fadeIn(300);    
            });
        }
        else {
            $('#edit').fadeOut(300, function () {
                $createArea.slideDown(300);    
            });
            
        }
    }
    
    function toggleEditArea() {
        $child = $('div.edit-child');
        $master = $('div.edit-master');
        if ($child.is(':animated')) {
            $child.stop();
            showMaster();
        }
        else if ($master.is(':animated')) {
            $master.stop();
            showChild();
        }
        else {
            if ($child.is(':visible')) {
                showMaster();
            }
            else {
                showChild();
            }
        }
    }

    function showMaster() {
        $child.fadeOut(200, function () {
            $master.animate({
                height: 450
            }, 500);
        });
    }

    function showChild() {
        $master.animate({
            height: 250
        }, 500, function () {
            $child.fadeIn(200);
        });
    }

    function updateRow() {
        var $row = $('tr.tr-selected');
        $row.find('td.price').html($('.edit-child #txtEditPrice').val());
        $row.find('td.quantity').html($('.edit-child #txtEditQuantity').val());
    }

    function addMasterSuccess() {
        var count = parseInt($('tbody tr:first-child').attr('title'));
        var $rows = $('tbody tr:lt(' + count + ')');
        $rows.css("background-color", "#BCF065").animate({
            backgroundColor: "#2D2D2D"
        }, 700, function () {

            $(this).removeAttr('style');
        });
        
        clearCreationFields();
    }
    
    function clearCreationFields() {
        $('.createArea-child input').val('');
    }

    function clearEditArea() {
        $('div.edit-child input').val('');
        $('div.edit-master-label').html('');
        
    }
    
</script>


<div class="rightColumn floatRight">

    <div class="blackBar">
        <div class="blackBar-imageDiv">
            <img src="/Content/images/inventory_label.png"/>
        </div>
        
        <div class="clear"></div>
    </div>

    <div style="display: none;">
    @using (Html.BeginForm("Search", "Home"))
    {
        @Html.TextBox("searchFor")
        <input type="submit" value="Search" />
    }
        @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
    <input type="file" name="file"/>
    <input type="submit" value="Upload file" />
        }
</div>
    
     <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>

            <tbody id="results">
                @Html.Partial("_ProductsList",Model)
                
            </tbody>
        </table>
     </div>  
    
</div>
<div class="leftColumn floatLeft">
    <div class="blackBar">
        <div class="fashionButton" id="addMasterProduct">
            Add new products
        </div>
    </div>

    <div class="createArea" id="create">
        @using (Ajax.BeginForm(new AjaxOptions(){Url = "/Home/AddMasterProduct",UpdateTargetId = "results",InsertionMode = InsertionMode.InsertBefore, OnSuccess = "addMasterSuccess()", OnFailure = "alert('Please check all fields contain correct data')"}))
        {
            <div class="createArea-master">        
                <div>
                    <span>Label:</span>
                    @Html.DropDownList("label")
                </div>
                <div class="alt-div">
                    <span>Sizing:</span>
                    @Html.DropDownList("fromSize")
                    @Html.DropDownList("toSize")
                </div>
                <div>
                    <span>Season</span>
                    @Html.DropDownList("season")
                </div>
                <div>
                    <span>Category:</span>
                    @Html.DropDownList("productType")
                </div>
                <div class="alt-div3">
                    <span>Mark up:</span>
                    @Html.TextBox("markUp") %                    
                </div>
        
            </div>
            <div class="createArea-child">
                <div>
                    <span>Master number:</span>
                    @Html.TextBox("masterId")
                </div>
                <div>
                    <span>Color:</span>
                    @Html.DropDownList("color")
                </div>
                <div class="alt-div2">
                    <span>Cost:</span>
                    @Html.TextBox("price")
                    @Html.DropDownList("currency")
                </div>
                <div>
                    <span>Sell:</span>
                    @Html.TextBox("sellPrice", null, new { disabled = "disabled" })
                </div>
                <div>
                    <span>Quantity:</span>
                    @Html.TextBox("quantity")
                </div>
                <div>
                    <span>Description:</span>
                    @Html.TextBox("name")
                </div>
            </div>
            
            <input type="submit" value="Add" id="addMasterProductTrigger" style="display: none;" />
            <div class="fashionButton" id="addMasterProductBtn" >
                Add
            </div>
            <div class="fashionButton" id="cancelMasterProductBtn">
                Cancel
            </div>
            <div class="clear"></div>
        }
    </div>

    <div class="editArea" id="edit">

        <div class="edit-master">
            <div class="edit-master-label" id="labelName">Name</div>
            <div class="edit-master-label" id="labelCode">Master code</div>
            <div></div>
            <div class="edit-master-imageDiv">
                <img src="../../Uploads/Images/img1_refl.jpg" />
            </div>
            <div style="text-align: center;">
                <span id="editMasterBtn">Edit master</span>
            </div>
            @using (Ajax.BeginForm(new AjaxOptions() { Url = "/Home/SaveMasterChanges", UpdateTargetId = "results" }))
            {
                <div id="editLabelDiv">
                    <span>Label:</span>
                    @Html.DropDownList("label")
                </div>
                <div id="editTypeDiv">
                    <span>Type:</span>
                    @Html.DropDownList("productType")
                </div>
                <div>
                    <span>Name:</span>
                    @Html.TextBox("name")
                </div>
                <div id="saveMasterChanges">
                </div>
                @Html.Hidden("masterId")
                <input type="submit" style="display: none" id="submitSaveMaster" />
            }    
            @using (Ajax.BeginForm(new AjaxOptions() { Url = "/Home/DeleteMaster", UpdateTargetId = "results", OnSuccess = "$('#editMasterBtn').click();" }))
            {
                @Html.Hidden("masterIdDel")
                <input type="submit" id="delMasterTrigger" style="display: none;"/>
            }
            
            <div id="delMasterBtn">
            </div>

        </div>

        <div class="edit-child">
        @using (Ajax.BeginForm(new AjaxOptions() { Url = "/Home/SaveChildChanges", OnSuccess = "updateRow()" }))
        {
            <label class="floatLeft">Price:</label>
            @Html.TextBox("txtEditPrice")
            <label class="floatLeft">Quantity</label>
            @Html.TextBox("txtEditQuantity")
            <div id="saveBtn" class="fashionButton floatLeft">
                Save
            </div>
            <div id="delBtn" class="fashionButton floatLeft">
                Delete
            </div>
            <div class="clear"></div>
            @Html.Hidden("hdnChildId")
            <input type="submit" id="submitSaveChild" style="display: none;"/>
        }    
        </div>
        
    </div>
        
</div>
<div class="clear">
</div>




   
